<section class="sectionCategory">
  <h1 class="titleCategory">Marcas</h1>
  <div class="cardCategory">
    <div class="before">
      <h1>Title</h1>
    </div>
    <img src="/assets/img/cap.png" alt="" class="imgContent">
  </div>

  <div class="cardCategory">
    <div class="before">
      <h1>Title</h1>
    </div>
    <img src="/assets/img/cap.png" alt="" class="imgContent">
  </div>
  <div class="cardCategory">
    <div class="before">
      <h1>Title</h1>
    </div>
    <img src="/assets/img/cap.png" alt="" class="imgContent">
  </div>
</section>
