.iconContent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 5rem;

  &--logoTitle{
    display: flex;
    width: 8rem;
    height: 100%;
  }
  .icon{
    display: flex;
    height: 100%;
    overflow: hidden;
  }
}

