<ul class="allComments" id="allComments" #allComments >
  <li class="closeAllComments" (click)="dataAllComments.closeComments()">
    <img src="/assets/svg/closeWhite.svg" alt=""  class="icon--small">
  </li>
  <ol class="contentComments">
    <app-card-comment></app-card-comment>
    <app-card-comment></app-card-comment>
    <app-card-comment></app-card-comment>
    <app-card-comment></app-card-comment>
    <app-card-comment></app-card-comment>
  </ol>
  <input type="text" class="inputComment">
</ul>
