<main class="wrapperDescription">
  <h1 class="titleDescription">WIM</h1>
  <h2 class="subTitleDescription">Cuentanos mas de ti</h2>
  <form class="formDescription">
    <label for="userAge" class="titleText">Cuantos años tienes?</label>
    <input type="text" class="inputDescription">

    <label for="userLocation" class="titleText">Donde vives?</label>
    <input type="text" class="inputDescription">

    <label for="userHobbies" class="titleText">Que te gusta hacer?</label>
    <input type="text" class="inputDescription">

    <label for="userOcupation" class="titleText">En que te destacas o te especializas en algo?</label>
    <input type="text" class="inputDescription">

    <input type="submit" value="Continuar" class="submitInput">
  </form>
</main>
