<section class="sectionPhotos">
  <div class="contentSectionPhotos">
    <h1>Nuevas estilos para gorras</h1>
    <ul class="containerArticlePhotos">
      <li class="articlePhoto" id="articlePhoto1">
        <img src="/assets/img/default-photoart.jpg" alt="">
      </li>
      <li class="articlePhoto" id="articlePhoto2">
        <img src="/assets/img/default-photoart2.jpg" alt="">
      </li>
      <li class="articlePhoto" id="articlePhoto3">
        <img src="/assets/img/default-photoart3.jpg" alt="">
      </li>
      <li class="articlePhoto" id="articlePhoto3">
        <img src="/assets/img/default-photoart4.jpg" alt="">
      </li>
    </ul>
  </div>
</section>
