@keyframes sliderPhotosW{
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
@keyframes sliderPhotosM{
  0%{margin-left: 0%;}
  20%{margin-left: 0%;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
@media (max-width: 768px) {
  .sectionPhotos{
    width: 100%;
    max-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    .contentSectionPhotos{
      width: 100%;
      max-width: 30rem;
      height: max-content;
      overflow: hidden;
      text-align: center;
      max-height: 39.4rem;
      h1{
        font-weight: lighter;
        font-size: 2rem;
        padding: .5rem;
      }
      .containerArticlePhotos{
        animation: sliderPhotosM 16s infinite ease-in-out;
        display: flex;
        width: 400%;
        height: 100%;
        .articlePhoto{
          background-color: white;
          width: 100%;
          p{
            width: 100%;
            background-color: rgb(48, 48, 48);
            height: 10rem;
            color: white;
          }
          img{
            width: 100%;
            max-width: 40rem;
          }
        }
      }
    }
  }
}



@media (min-width: 769px) {

  .sectionPhotos{
    width: 100%;
    max-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    .contentSectionPhotos{
      width: 100%;
      height: max-content;
      overflow: hidden;
      text-align: center;
      h1{
        font-weight: lighter;
        font-size: 2rem;
        padding: .5rem;
      }
      .containerArticlePhotos{
        animation: sliderPhotosW 16s infinite ease-in-out;
        display: flex;
        width: 400%;
        height: 100%;
        .articlePhoto{
          width: 100%;
          p{
            width: 100%;
            background-color: rgb(48, 48, 48);
            height: 10rem;
            color: white;
          }
          img{
            width: 100%;
            max-width: 40rem;
          }
        }
      }
    }
  }
}
