<section class="sectionPhotos">
  <div class="contentSectionPhotos">
    <ul class="containerArticlePhotos">
      <li class="articlePhoto" id="articlePhoto1">
        <img [src]="dataSectionPhotos.urlImg1" alt="">
      </li>
      <li class="articlePhoto" id="articlePhoto2">
        <img [src]="dataSectionPhotos.urlImg2" alt="">
      </li>
      <li class="articlePhoto" id="articlePhoto3">
        <img [src]="dataSectionPhotos.urlImg3" alt="">
      </li>
      <li class="articlePhoto" id="articlePhoto3">
        <img [src]="dataSectionPhotos.urlImg4" alt="">
      </li>
    </ul>
  </div>
</section>
