<li class="cardComment">
  <img src="/assets/img/foto.png" alt="" class="photoCircle">
  <span class="contentComment">
    <a class="ct">
      <h3 class="title">Name</h3>
      <div class="likes">
        <img src="/assets/svg/like.svg" alt="" class="icon--small">
        <p class="numberLikes">123</p>
      </div>
    </a>
    <p class="comment">comment</p>
    <a class="ct">
      <p class="timelapse textBehind">hace 2 dias</p>
      <p class="responseComment textBehind">response</p>
    </a>
  </span>
</li>
