<aside [class]="'menu menu--'+dataMenu.classMenu" #backgroundMenu id="backgroundMenu">
  <article [class]="'contentArticle contentArticle--'+dataMenu.classMenu">
    <h1 class="titleContentArticle">Configuracion</h1>
    <ul class="menuOptions">
      <li class="option">Editar perfil</li>
      <li class="option">Terminos y Condiciones</li>
      <li class="option" (click)="dataMenu.reportProblem()">Reportar problema</li>
      <li class=" option option--closeSession" (click)="dataMenu.logOut()">Cerrar sesion</li>
    </ul>
  </article>
</aside>
