*{
  color: black;
  font-family: Helvetica;
}
.newProduct{
  position: fixed;
  background-color: red;
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  z-index: 1;
  img{
    width: 2.5rem;
    height: 2.5rem;
  }
}
.wrapper{
  width: 100vw;
  background-color: rgb(165, 165, 165);
  display: flex;
  flex-direction: column;
  position: relative;

  select, option{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: ease-in-out .2s;
    position: relative;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem;
    &--filterBlur{
      filter: blur(3px);
      pointer-events: none;
      overflow: hidden;
      &,
      & * {
        pointer-events: none;
      }
    }
    h1{
      width: 100%;
      text-align: center;
    }
    .alert{
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .form{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.5rem;
      height: 100%;
      padding: .4rem;
      label{
        color: black;
        font-weight: bold;
      }
      input{
        border-radius: 1rem;
        color: black;
        font-weight: bold;
        border: none;
      }
      .text{
        min-height: 2rem;
        font-size: 1rem;
        max-width: 20rem;
      }
      .buttonSubmit{
        font-size: 1.5rem;
        font-weight: bold;
        border: 1px black solid;
        background-color: white;
      }
    }
  }
}
@media (max-width: 768px) {

}
