<app-menu-adm [dataMenu]="dataMenu"></app-menu-adm>
<app-search [dataSearch]="dataSearch"></app-search>
<div class="newProduct" (click)="redirectNewProduct()">
  <img src="/assets/icons/mas.svg" alt="">
</div>
<div class="wrapper">
  <app-header [dataHeader]="dataHeader"></app-header>
  <main class="main">
    <h1>Modificar categoria</h1>
    <p>Aqui se editara los datos de la pagina principal</p>
    <app-alert class="alert" [dataAlert]="dataAlert"></app-alert>
    <form class="form" (ngSubmit)="onSubmit()"  [formGroup]="formulario">
      <p class="alertForm"></p>
      <label for="name">Seleccione la categoria a editar*</label>
      <select name="" id=""  [(ngModel)]="selectedOption" formControlName="name">
        <option value="" selected disabled>Seleccionar</option>
        <option [value]="data.name" *ngFor="let data  of dataCategory">{{data.name}}</option>
      </select>
      <label for="newName">Escribe el nuevo nombre</label>
      <input type="text" formControlName="newName" class="text">
      <label for="documentMedia">Selecciona la nueva imagen*</label>
      <input type="file" formControlName="urlImg" (change)="uploadImage($event)" class="file" required>
      <input type="submit" value="Guardar" class="buttonSubmit">
    </form>
  </main>
</div>
