<main class="wrapperSearch">
  <h1 class="titleSearch">WIM</h1>
  <input type="text" placeholder="Buscar" class="inputSearch">
  <ul class="listUserSearch">
    <li class="cardUserSearch">
      <img src="/assets/img/foto.png" alt="" class="userImage">
      <p class="userName">name</p>
    </li>
    <li class="cardUserSearch">
      <img src="/assets/img/foto.png" alt="" class="userImage">
      <p class="userName">name</p>
    </li>
    <li class="cardUserSearch">
      <img src="/assets/img/foto.png" alt="" class="userImage">
      <p class="userName">name</p>
    </li>
  </ul>
</main>
<app-navbar></app-navbar>

