<app-header></app-header>
<main class="contentViewFollows">
  <ul class="optionsFollows">
    <li class="option">Seguidores</li>
    <li class="option">Siguiendo</li>
  </ul>
  <article class="contentTextSearch">
    <input type="text" placeholder="Buscar" class="inputSearch">
  </article>
  <ul class="listUsersFollows">
    <li class="cardUser">
      <img src="/assets/img/foto.png" class="imageUser">
      <p class="nameUser">name</p>
      <p class="stateUser"></p>
    </li>
    <li class="cardUser">
      <img src="/assets/img/foto.png" class="imageUser">
      <p class="nameUser">name</p>
      <p class="stateUser"></p>
    </li>
    <li class="cardUser">
      <img src="/assets/img/foto.png" class="imageUser">
      <p class="nameUser">name</p>
      <p class="stateUser"></p>
    </li>
  </ul>
</main>
<app-navbar></app-navbar>
