<app-menu-adm [dataMenu]="dataMenu"></app-menu-adm>
<app-search [dataSearch]="dataSearch"></app-search>
<div class="newProduct" (click)="redirectNewProduct()">
  <img src="/assets/icons/mas.svg" alt="">
</div>
<div class="wrapper">
  <app-header [dataHeader]="dataHeader"></app-header>
  <main class="main">
    <h1>Productos destacados</h1>
    <p class="description">Productos seleccionados</p>
    <section class="productsSelectedContent">
      <article class="cardProduct" *ngFor="let product of dataProductsSelected ; let i = index">
        <p class="nameProduct">{{product.name}}</p>
        <button class="deleteButton" (click)="deleteProduct(i)">x</button>
      </article>
    </section>
    <section class="searchProduct">
      <label for="searchProduct" class="titleSearchProduct">Busca tu producto y seleccionalo</label>
      <input type="text" class="text">
    </section>
    <section class="resultSearchContent">
      <article class="cardProduct" *ngFor="let product of dataProducts ; let i = index">
        <p class="nameProduct">{{product.name}}</p>
        <button class="deleteButton" (click)="addProduct(product)">+</button>
      </article>
    </section>
    <button class="save" (click)="save()">Guardar</button>
  </main>
</div>
