<footer class="footer">
  <img src="/assets/img/logodragonsolo.svg" alt="" class="logoFooter">
  <h3>Hablanos</h3>
  <section class="sectionFooter">
    <form action="" class="formFooter">
      <p>Correo</p>
      <input type="email" name="" id="">
      <p>Mensaje</p>
      <input type="text">
      <input type="submit" value="Enviar" class="button-submit">
    </form>
    <div class="whatsApp">
      <p>Tambien puedes escribirnos por whatsapp a este link</p>
      <a href="">Whatsapp</a>
    </div>
  </section>
  <nav class="navbarFooter">
    <ul class="content-navbarFooter">
      <li class="option-navbarFooter">Contac</li>
      <li class="option-navbarFooter">Informacion</li>
      <li class="option-navbarFooter">Correo</li>
      <li class="option-navbarFooter">Ubicacion</li>
    </ul>
  </nav>
</footer>
