.footer{
  background-color: rgb(16, 16, 16);
  width: 100%;
  height: max-content;
  .logoFooter{
    width: 100%;
    height: 10rem;
  }
  h3{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .sectionFooter{
    height: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    .whatsApp{
      gap: 1rem;
      display: flex;
      flex-direction: column;
      .buttonWhatsapp{
        align-self: center;
        background: green;
        padding: .6rem;
        font-weight: bold;
        font-size: 1.3rem;
        border: 3px white solid;
        border-radius: 1rem;
        text-decoration: none;
      }
    }
  }
  .navbarFooter{
    display: flex;
    width: 100%;
    height: 3rem;
    .content-navbarFooter{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      border-top: 1px rgb(78, 78, 78) solid;
    }

  }

  .navContactFooter{
    display: flex;
    width: 100%;
    height: 5rem;
    .contentContactFooter{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      border-top: 1px rgb(78, 78, 78) solid;
      justify-content: center;
      gap: .5rem;

      .contactFooter{
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        img{
          width: 100%;
        }
      }
    }
  }
}
