

.icon{
  width: 1.5rem;
  &--big{
    width: 1.5rem;
    margin-right: .7rem;
  }
  &--dm{
    width: 3rem;
  }
}

.headerProfile{
  width: 100%;
  position: fixed;
  z-index: 2;
}
.body{
  display: flex;
  justify-content: center;
  .wrapper{
    position: relative;
    max-height: 84vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .allComments{
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 100%;
      margin-bottom: 6vh;
      z-index: 1;

      &--show{
        opacity: 1;
        visibility: visible;
        backdrop-filter: blur(5px);
        transition: ease-out .2s;

      }
      &--hidde{
        opacity: 0;
        visibility: hidden;
      }
    }
    .swiper-container{
       height: 100%;

       width: 100vw;
       max-width: 800px;
       align-self: center;
       .swiper-slide{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .wime{
          width: 100%;
          height: 100%;
        }

        .ss{
          padding: 1rem;
        }
      }
    }
  }
}

.allComments{
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 5;

  &--show{
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(5px);
    transition: ease-out .2s;

  }
  &--hidde{
    opacity: 0;
    visibility: hidden;
  }
}
.navbar{
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: #3f1b00;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  .contentNavbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    .iconNavbar{
      width: 1.6rem;
    }
    .imgPerfilNavbar{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

