.articlePrincipalProducts{
  width: 100%;
  max-width: 20rem;
  min-height: 15rem;
  height: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  cursor: pointer;
&:hover{
  background-color: rgba(255, 255, 255, 0.262);
}

&:active{
  background-color: rgba(255, 255, 255, 0.354);
}
.imgPrincipalProducts{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 14.9rem;
  .imgPp{
    width: 100%;
  }
}

  .title{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    font-weight: bolder;
  }

  .description{
    margin: .5rem;
    color: rgba(255, 255, 255, 0.703);
    font-size: .9rem;
  }
  .value{
    margin: .5rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }

.buttonPrincipalProduct{
  width: 100%;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgba(78, 78, 78, 0);
  border: 1px gray solid;
  padding: .3rem;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  margin:  1rem  0rem;
}
.iconWpp{
  width: 1rem;
  height: 1rem;
}
}
