<div class="search--hidee">
  <!-- <input type="text"> -->
  <ul class="result">
    <!-- <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
    <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
    <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
    <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
    <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
    <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product> -->
  </ul>
</div>
