<article class="articlePrincipalProducts" (click)="dataPrincipalProduct.clickProduct()">
  <div class="imgPrincipalProducts">
    <img [src]="dataPrincipalProduct.urlImgPrincipalProduct" alt=""  class="imgPp">
  </div>
  <h2 class="title">{{dataPrincipalProduct.textTitle}}</h2>
  <p class="description">{{dataPrincipalProduct.textDescription}}</p>
  <p class="value">{{dataPrincipalProduct.textValue}}</p>
  <button class="buttonPrincipalProduct">
    PEDIR POR WHATSAPP
    <img src="/assets/icons/wpp.svg" alt="" class="iconWpp">
  </button>
</article>
