
.articlePresentation{
  display: flex;
  height: 25rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  padding: 1rem;
  .titlePresentation{
    font-size: 2.5rem;
  }
  .descriptionPresentation{
    font-size: 1.5rem;
  }
  .buttonRedirect{
    border-radius: 0.5rem;
    font-size: 1.3rem;
    border: 2px red solid;
    padding: 0.5rem;
    font-family: Helvetica;
    width: 14rem;
    background-color: black;
  }
}


@media (min-width: 769px) {
  .articlePresentation{
    .titlePresentation{
      font-size: 3.5rem;
    }
    .descriptionPresentation{
      font-size: 2.5rem;
    }
    .buttonRedirect{
      border-radius: 0.5rem;
      font-size: 1.3rem;
      border: 2px red solid;
      padding: 0.5rem;
      font-family: Helvetica;
      width: 14rem;
      background-color: black;
      cursor: pointer;
    }
  }
}
