<header class="headerProfile">
  <article class="haderContent">
    <h3 class="nameLeftHeader" (click)="redirectPerfil()">diazcc</h3>
    <ul class="descriptionContentNav" (click)="redirectViewFollows()">
      <h3 class="secondContentHeader">Seguidores</h3>
      <p class="secondContentDescription">123</p>
    </ul>
    <ul class="descriptionContentNav" (click)="redirectViewFollows()">
      <h3 class="secondContentHeader">Seguidos</h3>
      <p class="secondContentDescription">123</p>
    </ul>
    <img src="/assets/svg/menu.svg" alt="" class="iconMenu" (click)="dataMenu.setMenu()">
  </article>
</header>
