

.header{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: ease-in-out .3s;


  .content-header{
    background: linear-gradient(to bottom, #00000098 0%,  #0000002b 50%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconSearch{
      img{
        width: 100%;
      }
    }
    .icon{
      display: flex;
      justify-content: center;
      height: 2.5rem;
      margin: .5rem;
    }
  }
  .iconMenu{
    cursor: pointer;
  }
  &--focus{
    display: flex;
    .content-header{
      background: rgba(0, 0, 0, 0.614);
    }
  }
  &--hidde{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: ease-in-out .3s;
    transform: translateY(-100%);
    justify-content: space-between;
    align-items: center;
    .content-header{
      background: linear-gradient(to bottom, #000000b8 0%,  #00000060 50%, rgba(0, 0, 0, 0) 100%);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .iconSearch{
        img{
          width: 100%;
        }
      }
      .icon{
        display: flex;
        justify-content: center;
        height: 2.5rem;
        margin: .5rem;
      }
    }
    .iconMenu{
      cursor: pointer;
    }
  }

}
