<header [ngClass]="dataHeader.classHeader">
  <div [ngClass]="dataHeader.classContentHeader">
    <div [ngClass]="dataHeader.classIconMenu" (click)="dataHeader.clickHeader()">
      <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" [ngClass]="dataHeader.classIconMenu2">
        <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" fill="#FFFFFF"/>
      </svg>
    </div>
    <h1 [ngClass]="dataHeader.classHeaderTitulo">Infinity Industry</h1>
  </div>
  <app-navbar [dataNavBar]="dataHeader.dataNavBar"></app-navbar>
</header>
