<header [ngClass]="'header header--'+dataHeader.classHeader">
  <div [ngClass]="dataHeader.classContentHeader">
    <div [ngClass]="dataHeader.classIconMenu" (click)="dataHeader.clickHeader()">
        <img [src]="dataHeader.urlIconMenu" alt="SVG Image" class="icon">
    </div>
    <app-icon [urlIcon]="urlIcon" [classIconContent]="classIconContent" class="icon" (click)="redirectHome()"></app-icon>
    <div class="iconSearch" (click)="dataHeader.clickSearch()">
      <img src="/assets/icons/search.svg" alt="SVG Image" class="icon">
    </div>
  </div>
  <app-navbar [dataNavBar]="dataHeader.dataNavBar"></app-navbar>
</header>
