<main class="wrapperRegister">
  <h1 class="titleRegister textColor">WIM</h1>
  <h2 class="subtitleRegister textColor">Crear cuenta</h2>
  <form class="formRegister" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <label for="userName" class="labelRegister textColor">Nombre de usuario</label>
    <input
      type="text"
      class="inputLabel"
      id="userName"
      formControlName="userName"
      maxlength="20"
      placeholder="user_22"
      (input)="onInputChangeUserName($event)"
      >
    <p *ngIf="alertUserName" class="errorInput">{{textUserName}}</p>

    <label for="userName" class="labelRegister textColor">Nombre publico</label>
    <input
      type="text"
      class="inputLabel"
      id="name"
      formControlName="name"
      maxlength="20"
      placeholder="Fulano Tal"
      (input)="onInputChangeName($event)"
      >
    <p *ngIf="alertName" class="errorInput">{{textName}}</p>

    <label for="password" class="labelRegister textColor">Contraseña</label>
    <input type="password" class="inputLabel" id="password" formControlName="password">
    <p *ngIf="alertPassword" class="errorInput">{{textPassword}}</p>

    <label for="email" class="labelRegister textColor" >Correo electrónico</label>
    <input type="email" class="inputLabel" id="email" formControlName="email" (input)="onInputChangeEmail($event)">
    <p *ngIf="alertEmail" class="errorInput">{{textEmail}}</p>

    <label for="emailConfirm" class="labelRegister textColor">Confirmar correo electrónico</label>
    <input type="email" class="inputLabel" id="emailConfirm" formControlName="emailConfirm">
    <p *ngIf="alertEmailConfirm" class="errorInput">{{textEmailConfirm}}</p>

    <label for="phoneNumber" class="labelRegister textColor">Teléfono</label>
    <input type="number" class="inputLabel" id="phoneNumber" formControlName="phoneNumber">
    <p *ngIf="alertPhoneNumber" class="errorInput">{{textPhoneNumber}}</p>

    <input type="submit" value="Crear" class="inputSubmitRegister">
  </form>

</main>
<app-load-view [classLoading]="classLoading"></app-load-view>
<app-alert-view [dataAlert]="dataAlert"></app-alert-view>
