<app-header class="headerProfile"></app-header>
<main class="wrapper">
  <article class="bodyMain">
    <h3 class="titleContent">
      Mi contenido
    </h3>
    <ul class="navbarContent">
      <li class="optionNavbar">
        <img src="/assets/svg/image.svg" alt="" class="iconNavbar">
      </li>
      <li class="optionNavbar">
        <img src="/assets/svg/shared.svg" alt="" class="iconNavbar">
      </li>
      <li class="optionNavbar">
        <img src="/assets/svg/like.svg" alt="" class="iconNavbar">
      </li>
      <li class="optionNavbar optionNavbar--iconWime">
        w
      </li>
    </ul>
    <ul class="contentMedia">
      <li class="row">
        <app-post-image class="content"></app-post-image>
        <app-post-image class="content"></app-post-image>
        <app-post-image class="content"></app-post-image>
        <app-post-image class="content"></app-post-image>
        <app-post-image class="content"></app-post-image>
        <app-post-image class="content"></app-post-image>
        <app-post-image class="content"></app-post-image>
      </li>
    </ul>
  </article>
</main>
<app-icon-dm [classDm]="classDm"></app-icon-dm>
<app-navbar></app-navbar>
