<section class="section">

  <div class="contentSection">
    <ng-container *ngIf="getStateLeft()">
      <i [class]="'arrow arrow--'+dataSlider.classSlider" (click)="clickLeft()">
        <img src="/assets/icons/arrowLeft.svg" alt="">
      </i>
    </ng-container>

    <ul class="carrusel">
      <li *ngFor="let data of dataSlider.data; let i = index" class="contentCarrusel" (click)="data.redirectProduct()" [ngStyle]="isFirstImage(i) ? {'margin-left': margin +'%'} : null">
        <div [class]="'contentCard contentCard--'+dataSlider.classSlider">
          <span class="descriptionCard">
            <h2 class="nameCard">{{data.name}}</h2>
            <p  class="valueCard">$ {{data.value}}</p>
          </span>
        </div>
        <img [src]="data.urlImg" alt="">
      </li>
    </ul>

    <ng-container *ngIf="getStateRight()">
      <i [class]="'arrow arrow--'+dataSlider.classSlider" (click)="clickRight()">
        <img src="/assets/icons/arrowRight.svg" alt="">
      </i>
    </ng-container>
  </div>
</section>
