
<main class="chat">

  <header class="headerChat">
    <h1 class="userName">
      < Andres Diaz
    </h1>
    <img src="/assets/svg/settings.svg" class="settingsChat">
  </header>
  <article class="contentChat">
    <section class="cardMessageGet cardMessage">
      <img src="/assets/img/foto.png" class="userImage">
      <ul class="contentMessage">
        <li class="messages">
          <p class="text textdf">Hola</p>
          <p class="text textdf">Hola</p>
        </li>
      </ul>
      <span class="descriptionChat">
        <img src="/assets/svg/settings.svg" class="settingsMessage">
        <p class="time">2 min</p>
      </span>
    </section>
    <section class="cardMessageSend cardMessage">
      <ul class="contentMessage">
        <li class="messages">
          <p class="text textdf">hola dasdasdasdasddas dasd sa dasd asd asd ad asd asdasdasda dsa</p>
          <p class="text textdf">hola</p>

        </li>
      </ul>
      <span class="descriptionChat">
        <img src="/assets/svg/settings.svg" class="settingsMessage">
        <p class="time timeUser">2 min</p>
      </span>
    </section>
  </article>
  <footer class="contentInput">
    <input type="text" class="inputText" placeholder="Escribir">
    <img src="/assets/svg/more.svg" alt="" class="moreChat">
  </footer>
</main>
