<main class="wrapperProfilePhoto">
  <form class="formProfilePhoto" (ngSubmit)="onSubmit()">
    <h1 class="titleWim ">WIM</h1>
    <h2 class="titleFormProfielPhoto">Foto de perfil</h2>
    <p class="descriptionFormProfilePhoto">Este es tu primer paso, necesitamos reconocerte o que el mundo te identifique. Sube la foto la cual quieres que vean.</p>
    <section class="dFPP">
      <article class="dFPPContent">
        <img [src]="urlImg" alt="" class="imgFormPhoto" (click)="openSelectorField()">
      </article>
    </section>
    <p class="footerDescriptionFormProfilePhoto">haz click en la imagen para cambiar la foto</p>
    <input type="submit" value="Subir" class="submitFormPhoto">
    <input type="file" style="display: none;" (change)="loadArchive($event)" #fileInput>
  </form>
</main>
<app-load-view [classLoading]="classLoading"></app-load-view>
