<main class="wrapperNewPhoto">
  <section class="headerNewPhoto">
    WIME
  </section>
  <section class="headerContentNewPhoto">
    <img src="/assets/img/foto.png" alt=""  class="userImage">
    <p class="userName">name</p>
  </section>
  <section class="contentNewPhoto">
    <p>foto</p>
  </section>
  <p>Escribe un comentario para tu foto:</p>
  <textarea
  class="descriptionNewPhoto"
  placeholder="Escribe aqui tu comentario"
  maxlength="110"
  ></textarea>
  <button class="buttonSendNewPhoto">Enviar</button>
</main>
<app-navbar [dataNavBar]="dataNavBar"></app-navbar>
