<app-header class="headerProfile"></app-header>
<section class="body">
  <main class="wrapper" >
    <swiper-container class="swiper-container" direction = "vertical" >
      <swiper-slide class="swiper-slide" >
        <app-wimes class="wime"></app-wimes>
      </swiper-slide>
      <swiper-slide lazy="true" class="swiper-slide">
        <app-wimes class="wime"></app-wimes>
      </swiper-slide>
      <swiper-slide lazy="true" class="swiper-slide">
        <app-wimes class="wime"></app-wimes>
      </swiper-slide>
      <swiper-slide lazy="true" class="swiper-slide">
        <app-wimes class="wime"></app-wimes>
      </swiper-slide>
    </swiper-container>
  </main>
</section>
<app-navbar [dataNavBar]="dataNavBar"></app-navbar>
