<swiper-container class="contentNavProfileContacts" slides-per-view="3" spaceBetween="54">
  <swiper-slide class="cardContact">
    <img src="/assets/img/foto.png" class="contentCard">
    <p>
      Instagram
    </p>
  </swiper-slide>
  <swiper-slide class="cardContact">
    <img src="/assets/img/foto.png" class="contentCard">
    <p>
      Facebook
    </p>
  </swiper-slide>
  <swiper-slide class="cardContact">
    <img src="/assets/img/foto.png" class="contentCard">
    <p>
      Twitch
    </p>
  </swiper-slide>
  <swiper-slide class="cardContact">
    <img src="/assets/img/foto.png" class="contentCard">
    <p>
      Twitch
    </p>
  </swiper-slide>
  <swiper-slide class="cardContact">
    <img src="/assets/img/foto.png" class="contentCard">
    <p>
      Twitch
    </p>
  </swiper-slide>
</swiper-container>
