
<div class="wrapper">
  <app-search [dataSearch]="dataSearch"></app-search>
  <app-header [dataHeader]="dataHeader"></app-header>
  <!-- <div class="iconMarket">
    <img src="/assets/icons/market.svg" alt="">
  </div> -->
  <main [ngClass]="'main main--'+classMain">
    <nav class="nav">
      <h2 class="titleNav">Buscar producto</h2>
      <input type="text" class="inputSearch">
      <ul class="filters">
        <li class="contentFilter">
          <h3 class="titleFilter">Categoria</h3>
          <select class="selectFilter" [(ngModel)]="selectedOption" (change)="detectChange()">
            <option selected>Todo</option>
              <option *ngFor="let data of dataOption.data; let i = index;">{{data.marc}}</option>
          </select>
        </li>
        <li class="contentFilter">
          <h3 class="titleFilter">Precio</h3>
          <select class="selectFilter">
            <option selected>Todo</option>
            <option>Precios mayores</option>
            <option>Precios menores</option>
            <option>sss</option>
          </select>
        </li>
      </ul>
    </nav>
    <ul class="products">
      <ng-container *ngFor="let data of dataCardProduct.data; let i = index;">
        <app-card-product [dataCardProduct]="data" class="cardProduct"></app-card-product>
      </ng-container>
    </ul>
    <app-footer [dataFooter]="dataFooter"></app-footer>
  </main>
</div>
