<section class="sectionPrincipalProducts">
  <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
  <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
  <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
  <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
  <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
  <app-article-principal-product class="articlePrincipalProduct"></app-article-principal-product>
</section>
