.sectionPrincipalProducts{
  display: flex;
  width: 100%;
  height: max-content;
  gap: .1rem;
  flex-wrap: wrap;
  justify-content: center;
  .articlePrincipalProduct{
    width: 49%;
    max-width: 20rem;
  }
}
