<div class="wrapper">
  <app-header [dataHeader]="dataHeader"></app-header>
  <!-- <header class="header">
    <div [ngClass]="classMenu">
      <ul class="content-menu ">
        <li class="option-menu">Adidas</li>
        <li class="option-menu">Nike</li>
        <li class="option-menu">Puma</li>
        <li class="option-menu">Bershka</li>
      </ul>
    </div>
  </header> -->
  <main [ngClass]="classMain">
    <div class="img">
      <img src="assets/img/c2.jpg" alt="">
    </div>
    <section class="section">
      <article class="article">

      </article>
    </section>
    <section class="section">
      <article class="article">

      </article>
    </section>
    <section class="section">
      <article class="article">

      </article>
    </section>
    <section class="section">
      <article class="article">

      </article>
    </section>
  </main>
</div>
