<div class="wrapper">
  <header class="header">
    <div class="content-header">
      <div class="icon-menu" (click)="showMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 -960 960 960" width="48" class="iconMenu">
          <path d="M120-240v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" fill="#FFFFFF"/>
        </svg>
      </div>
      <h1 class="header-titulo">Infinity Industry</h1>
    </div>
    <div [ngClass]="classMenu">
      <ul class="content-menu ">
        <li class="option-menu">Adidas</li>
        <li class="option-menu">Nike</li>
        <li class="option-menu">Puma</li>
        <li class="option-menu">Bershka</li>
      </ul>
    </div>
  </header>
  <main [ngClass]="classMain">
    <h1>CONTENIDO MAIN</h1>
  </main>
  <footer class="footer"></footer>
</div>
