@font-face{
  font-family: 'bulone';
  src: url('/assets/fonts/bulone/Bulone.ttf') format('truetype');
}
@font-face{
  font-family: 'buvica';
  src: url('/assets/fonts/queensides/Queensides-3z7Ey.ttf') format('truetype');
}
@font-face{
  font-family: 'copper-normal';
  src: url('/assets/fonts/copperplate/OPTICopperplate.otf') format('truetype');
}
@font-face{
  font-family: 'copper-heavy';
  src: url('/assets/fonts/copperplate/OPTICopperplate-Heavy.otf') format('truetype');
}
@font-face{
  font-family: 'copper-light';
  src: url('/assets/fonts/copperplate/OPTICopperplate-Light.otf') format('truetype');
}

@font-face{
  font-family: 'opensans-regular';
  src: url('/assets/fonts/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face{
  // src: url('/src/assets/fonts/opensans/OpenSans-Bold.ttf') format('truetype');
  font-family: 'opensans-bold';
  src: url('/assets/fonts/opensans/OpenSans-Bold.ttf') format('truetype');
}
*{
  margin: 0;
  color: white;
  font-family: buvica;
}

body{
  // overflow: hidden;
  background-color: black;
}



li{
  list-style: none;
}

ul{
  display: flex;
  padding: 0;
}



p{
  margin: 0;

}
