<app-menu-adm [dataMenu]="dataMenu"></app-menu-adm>
<app-search [dataSearch]="dataSearch"></app-search>
<div class="newProduct" (click)="redirectNewProduct()">
  <img src="/assets/icons/mas.svg" alt="">
</div>
<div class="wrapper">
  <app-header [dataHeader]="dataHeader"></app-header>
  <main class="main">
    <h1>Nueva categoria</h1>
    <p>Aqui se editara los datos de la pagina principal</p>
    <form class="form" (ngSubmit)="onSubmit()"  [formGroup]="formulario">
      <p class="alertForm"></p>
      <label for="name">Nombre*</label>
      <input type="text" formControlName="name" class="text">
      <label for="documentMedia">Imagen*</label>
      <input type="file" formControlName="urlImg" (change)="uploadImage($event)" class="file" required>
      <input type="submit" value="Guardar" class="buttonSubmit">
    </form>
  </main>
</div>
