
<div class="wrapper">
  <app-search [dataSearch]="dataSearch"></app-search>
  <app-header [dataHeader]="dataHeader"></app-header>
  <!-- <div class="iconMarket">
    <img src="/assets/icons/market.svg" alt="">
  </div> -->
  <main [ngClass]="'main main--'+classMain">
  <app-view-product [dataViewProduct]="dataViewProduct" class="viewProduct"></app-view-product>
    <ul class="products">
      <ng-container *ngFor="let data of dataCardProduct.data; let i = index;">
        <app-card-product [dataCardProduct]="data" class="cardProduct"></app-card-product>
      </ng-container>
    </ul>
    <app-footer></app-footer>
  </main>
</div>
