
<div class="wrapper">
  <app-header [dataHeader]="dataHeader"></app-header>
  <div class="iconMarket">
    <img src="/assets/icons/market.svg" alt="">
  </div>
  <main [ngClass]="'main main--'+classMain">
    <div class="viewProduct">
      <ul class="contentImg">
          <img src="/assets/img/cap3.png" alt="">
      </ul>
      <div class="descriptionProduct">
        <p class="valueProduct">$233423</p>
        <p class="nameProduct">Lorem ipsum dolor sit amet consectetur</p>
        <button>Cotizar</button>
      </div>
    </div>
    <ul class="products">
      <ng-container *ngFor="let data of dataPrincipalProduct.data; let i = index;">
        <app-article-principal-product [dataPrincipalProduct]="data" class="cardProduct"></app-article-principal-product>
      </ng-container>

    </ul>
    <app-footer></app-footer>
  </main>
</div>
